@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model GameSystem

@{
    ViewData["Title"] = "Game System Details";
    Layout = "_Layout";
}

<h2>@Model.Platform</h2>
<p>
    You can check out the latest Playstation <a href="https://www.playstation.com/en-us/ps5/?smcid=pdc%3Aen-us%3Aprimary%20nav%3Amsg-ps5%3Aps5">here</a>.
    The latest Xbox can be found <a href="https://www.xbox.com/en-US/consoles/xbox-series-x">here</a>.
    If you would like to build a pc and make sure all parts are compatible click <a href="https://pcpartpicker.com/">here</a>.
</p>
