@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
﻿<nav>
    <ul>
        <li><a asp-controller="PreOrder" asp-action="PreOrder" asp-route-eventCode="playstation-5">Order your PlayStation 5</a></li>
        <li><a asp-controller="PreOrder" asp-action="PreOrder" asp-route-eventCode="xbox">Order your Xbox</a></li>
        <li><a asp-controller="PreOrder" asp-action="PreOrder" asp-route-eventCode="">Order a PC</a></li>
    </ul>
</nav>