@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the world of Gaming</h1>
    <p>We welcome all players from every console. There is no better console than the one you like.
        Check out Sony's newest Playstation, or the latest Xbox. Maybe you are more interested in building your
        own computer to play games. The options are unlimited. Take a look at all the options you got! Whatever you
        choose, its the best you can get.
    </p>
</div>
